.app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b5eaea;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 30px;
  text-align: center;
}
